video {

    position: fixed;
    min-width: 100%;
    min-height: 100%;

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    z-index: -1;

}

body {
  margin: 0;
}

.opacity {
  opacity: 0.5;
}
